* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}


header {
    background-color: #337ab7;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
}


section {
    padding: 2em;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}


#about {
    background-color: #f7f7f7;
}

#about h2 {
    color: #337ab7;
}

#about p {
    margin-bottom: 20px;
}


#skills {
    background-color: #f7f7f7;
}

#skills h2 {
    color: #337ab7;
}

#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#skills li {
    margin-bottom: 10px;
}

#experience {
    background-color: #f7f7f7;
}

#experience h2 {
    color: #337ab7;
}

#experience .job {
    margin-bottom: 20px;
}

#experience .job h3 {
    margin-top: 0;
}


#education {
    background-color: #f7f7f7;
}

#education h2 {
    color: #337ab7;
}

#education .education-entry {
    margin-bottom: 20px;
}

#education .education-entry h4 {
    margin-top: 0;
}


#projects {
    background-color: #f7f7f7;
}

#projects h2 {
    color: #337ab7;
}

#projects .project {
    margin-bottom: 20px;
}

#projects .project h3 {
    margin-top: 0;
}

#projects a {
    display: block;
    margin-top: 10px;
}


#contact {
    background-color: #f7f7f7;
}

#contact h2 {
    color: #337ab7;
}

#contact p {
    margin-bottom: 10px;
}

#contact a {
    display: block;
    margin-top: 10px;
}